.font1{ 
    font-family: "Times New Roman", Serif;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*드래그 영역 하이라이트*/
::selection {
	background: #fff176;
	color: blue;
	font-weight: 1000;
}

html{ 
	background-color: white;
	/*	background-color : rgb(31,30,32); */
}

body { 
	background-color: white; 
	margin:0 auto;
	text-align: center;
}
a{text-decoration:none;}
a>h2{color:black;}

/*타이틀*/
.main_title{
	position : relative;
	margin-top:70px;
	margin-bottom:130px;
	padding-top: 70px;
	height : 40px;
	text-align : center;
	font-family: "Times New Roman", Serif;
	text-align: center;
	font-size: 60px;
}

/* 실시간 상황판 */
.main_board{
	position : relative;
	padding-top: 3px;
	height : 30px;
	text-align : center;
	font-family: "Times New Roman", Serif;
	font-size: 30px;
	color:rgb(255, 255, 255);
	z-index : 2;
	}


/*경로 확인 박스, 현재 어느 경로에 존재하는지 확인 ex 정부정책 > 마스크 범위*/
.stage{ 
	margin : 10px;
	padding: 20px;
	height : 10px;
	border : 1px solid gray;
	padding-top: 0px;
}

/*컨텐츠박스*/
.contents{ 
	margin : 10px;
	padding: 20px;
	min-height : 600px;
	border : 1px solid gray;
}

.center{text-align:center;}

#zoom{zoom:100%}


.menu_description{
	border:solid black 1px;
	padding : 10px;
}

/*인덱스 메뉴 CSS*/	
#gray_box{
	background-color:#eeeeee;
	border:1px solid;
	padding:10px;
	margin:10px;
}

#black_box{
	background-color:#4F4F4F;
	color:white;
	border:1px solid;
	padding:10px;
	line-height: 1.6;
	text-align: center;
}
#white_box{
	display: inline-block;
	width:40%;
	background-color:white;
	border:1px solid;
	margin:15px;
	padding : 10px;
	color:black;
	text-align:left;
	line-height: 1.5;
}
.l_height{
	line-height: 2;
}

hr{
	width:97.4%;
}

#arrow{
	display:none; 
	position:fixed; 
	left : 30px; 
	bottom:10px;
}


/* footer CSS*/
.footer{
	display:inline-block;
	width:41%;
	padding:10px;
	text-align:center;
	margin-top:100px;
	margin-bottom:100px;
}
.footer_mid{
	background-color:#eeeeee;
	border:1px solid;
	padding:25px;
}
.footer_inside{
	padding:10px;
	border:1px gray solid;
	background-color: white;
}

.siteMap{
	margin-top: 100px;
	margin-bottom: 100px;
}